.firstIMG {
    margin-top: 9%;
}

.picStyle{

    background-color: darkgray;
    border: black double 2px;
    width: 80%;
    margin-left: 8%;
    text-align: center;
    float: left;
    border-radius: 20px;
    

}

.photo-template{
    display: none;
}

.firstIMG {
    margin-top: 0%;
}

section {
    background-color:darkgray;
    display: flex;

    flex-wrap: wrap;
}


button{
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 0.5%;
   
}
